.terminal-setting {
  padding: 24px;
}

.terminal-setting__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.terminal-setting__label {
  color: var(--color-royalblue-800);
  font-size: 14px;
}
