.menu-bar {
  height: 36px;
  background-color: oklch(0.922 0 0);
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 12px;
  -webkit-app-region: drag;
  user-select: none;
}

.menu-bar__title {
  font-size: 13px;
  font-weight: 500;
  color: oklch(0.371 0 0);
}
